@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

*{
	margin:0;
	padding:0;
}

body{
	font-family: 'Nunito', sans-serif;
}

@media only screen and (min-width: 750px){
	div.cntr{
		display: inline;
	}

	label.logo{
		color: #ffffff;
		font-size: 35px;
		line-height: 80px;
		padding: 0 100px;
		font-weight: bold;
	}
	
	nav {
		background-color: #002634;
		height: 80px;
		width: 100%;
	}
	
	nav ul{
		float: right;
		margin-right: 100px;
	}
	
	nav ul li{
		line-height: 80px;
		display: inline-block;
		margin: 0;
		text-align: center;
	}
	
	nav ul li a{
		color: #ffffff;
		font-size: 16px;
		text-transform: uppercase;
		padding: 10px;
	}
	
	a{
		text-decoration: none;
	}
	
	a.active {
		background-color: #022020;
		color: #80e701;
	}
	
	a:hover{
		background-color: #022020;
		transition: 1.5s;
	}
}

@media only screen and (max-width: 749px){
	div.cntr{
		text-align: center;
		margin-bottom:  25px;
	}

	label.logo{
		color: #ffffff;
		font-size: 25px;
		font-weight: bold;
	}
	
	nav {
		background-color: #002634;
		height: 250px;
		width: 100%;
		text-align: center;
		padding-top: 25px;
	}
	
	nav ul li{
		display: block;
		text-align: center;
		padding: 10px;
	}
	
	nav ul li a{
		color: #ffffff;
		font-size: 16px;
		text-transform: uppercase;
		padding: 10px;
	}
	
	a{
		text-decoration: none;
	}
	
	a.active {
		background-color: #022020;
		color: #80e701;
	}
	
	a:hover{
		background-color: #022020;
		transition: 1.5s;
	}
}
